[mysqld]
# ── Identité unique (différente du master) ────────────────────
server-id                = 2

# ── Relay Log (binlog reçu depuis le master) ──────────────────
relay-log                = /var/log/mysql/mysql-relay-bin.log
log_bin                  = /var/log/mysql/mysql-bin.log
replicate_do_db          = appdb

# ── Sécurité : le slave refuse les écritures directes ─────────
read_only                = 1

# ── Performance ───────────────────────────────────────────────
innodb_buffer_pool_size  = 256M
max_connections          = 100

bind-address             = 0.0.0.0
